@use "sass:math";
@use "sass:meta";

$baseRem: 10px;

html{
  font-size: $baseRem;
}

@function strip-unit($value) {
  @if meta.type-of($value) == "number" and not math.is-unitless($value) {
    @return math.div($value, $value * 0 + 1);
  }
  @return $value;
}
@function toCqw($value) {
  $cqwValue: (strip-unit($value)) + cqw;
  @return $cqwValue;
}
@function toRem($value) {
  $remValue: math.div(strip-unit($value), strip-unit($baseRem)) + rem;
  @debug $remValue;
  @return $remValue;
}

@function FCCCalc($minValue, $maxValue, $minWidth, $maxWidth) {
  $factor: math.div($maxValue - $minValue, $maxWidth - $minWidth);
  $factorScaled: toCqw($factor * 100);
  $b: toRem($minValue - ($factor * $minWidth));
  $fluid: '' + $factorScaled + ' + ' + $b + '';
  @return clamp(#{toRem($minValue)},#{$fluid},#{toRem($maxValue)});
}

.box{
  font-size: FCCCalc(16,24,400,800);
}
